{% extends "base.html" %}

{% block page_content %}

<h2>Rules</h2>

<p>
    1. DOSsing is forbidden.<br>
    2. No cross-teaming is allowed. <br>
    3. You can confirm leads by contacting the admins:   <br>
    &nbsp &nbsp -> admin_1    <br>
    &nbsp &nbsp -> admin_2    <br>
    &nbsp &nbsp -> admin_3    <br>
    4.All the answers will be in lowercase and alphanumeric eg:"weekend123"  <br>
    5.All the hints will be posted on our discord server:https://discord.gg/xWwe2xJEEn <br>
    6.All the answer would have zero space <br>
</p>

<form method="post" action="/"><input type="hidden" name="csrf_token" value="{{ csrf_token() }}" /></form>
{% endblock %}
